---
# HTTP IngressRoute
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: http-routes
  namespace: default
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`ianmyjer.com`) || Host(`www.ianmyjer.com`)
      kind: Rule
      services:
        - name: ianmyjerdotcom
          port: 80
    - match: PathRegexp(`^/(\.env|\.git|\.aws|\.ssh|wp-login\.php|wp-admin|xmlrpc\.php|phpmyadmin|pma|admin|administrator|config\.php|backup\.sql|dump\.sql|actuator|debug|trace|server-status|jenkins|cgi-bin|shell|eval-stdin\.php)`)
      kind: Rule
      services:
        - name: hellpot
          port: 80
    - match: Host(`ian.ianmyjer.com`)
      kind: Rule
      services:
        - name: chatian
          port: 80
    - match: PathPrefix(`/`)
      kind: Rule
      services:
        - name: whoami
          port: 8001
