version: "3.7"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    networks:
      - ian
    dns:
      - 1.0.0.1
      - 1.1.1.1
    ports:
     # - '0.0.0.0:53:53/tcp'
     # - '0.0.0.0:53:53/udp'
     # - '0.0.0.0:67:67/udp'
     - '0.0.0.0:8082:80/tcp'
    volumes:
      - ./etc-pihole/:/etc/pihole/
      - ./etc-dnsmasqd/:/etc/dnsmasq.d/
      - ./pihole.log:/var/log/pihole.log
    environment:
      ServerIP: 10.0.0.200
      # VIRTUAL_HOST: pihole.ianmyjer.com
      # WEB_PORT: 80
      TZ: 'America/New_York'
      # WEBPASSWORD: 'PuraVida'
    restart: unless-stopped
    labels:
      - "traefik.enable=true"

      # web interface
      - "traefik.http.routers.pihole.rule=Host(`pihole.ianmyjer.com`)"
      - "traefik.http.routers.pihole.entrypoints=websecure"
      - "traefik.http.routers.pihole.tls.certresolver=myhttpchallenge"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"

      # DNS-over-TLS
      - "traefik.tcp.routers.dnsovertls.rule=HostSNI(`pihole.ianmyjer.com`)"
      - "traefik.tcp.routers.dnsovertls.entrypoints=dnsovertls"
      - "traefik.tcp.routers.dnsovertls.tls.certresolver=myhttpchallenge"
      - "traefik.tcp.routers.dnsovertls.service=pihole"

      # Normal DNS coming in on 53 TCP, no TLS
      - "traefik.tcp.routers.dns.rule=HostSNI(`pihole.ianmyjer.com`)"
      - "traefik.tcp.routers.dns.entrypoints=dns"
      - "traefik.tcp.routers.dns.service=pihole"

      # recieves traffic from both the TLS and non-TLS traefik routers
      - "traefik.tcp.services.pihole.loadbalancer.server.port=53"

      # Normal DNS coming in on 53 UDP
      - "traefik.udp.routers.udpdns.entrypoints=udpdns"
      - "traefik.udp.routers.udpdns.service=pihole"
      - "traefik.udp.services.pihole.loadbalancer.server.port=53"


networks:
  ian:
    external: true
